*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

input[type=range] {
  height: 0.25rem;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #DDD;
}

.header {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #666;
}

.footer {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #222;
}

.tracks-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
@media screen and (max-width: 480px) {
  .tracks-grid {
    padding: 1rem 0;
  }
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #666;
  margin: 0.5rem;
  border-radius: 1.25rem;
  padding: 0.5rem;
}
@media screen and (max-width: 480px) {
  .track {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0.5rem 0;
  }
}
.track__heading {
  margin: 0.5rem;
}
.track__image {
  margin: 0.5rem;
}
@media screen and (max-width: 480px) {
  .track__image {
    margin: 0.5rem 0;
  }
}
.track__image img {
  width: 100%;
  border-radius: 1.25rem;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .track__image img {
    border-radius: 0;
  }
}

.audio-controller {
  background-color: #DDD;
  color: black;
  border: 0.25rem #CCC solid;
  border-radius: 33px;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  outline: none;
}
@media screen and (max-width: 480px) {
  .audio-controller {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-play-pause {
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 480px) {
  .btn-play-pause:hover {
    background-color: #BBB;
  }
}

.time-displayer {
  white-space: nowrap;
  margin: 0 15px 0 5px;
}
@media screen and (max-width: 480px) {
  .time-displayer {
    margin: 0 10px;
  }
}

.progress-bar {
  animation: curtain-up-progress-bar 0.4s;
  width: 90px;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .progress-bar {
    width: 100%;
  }
}
.progress-bar--shortened {
  animation: curtain-up-progress-bar-reverse 0.4s;
  width: 30px;
}

@keyframes curtain-up-progress-bar {
  from {
    width: 30px;
  }
  to {
    width: 90px;
  }
}
@keyframes curtain-up-progress-bar-reverse {
  from {
    width: 90px;
  }
  to {
    width: 30px;
  }
}
.volume {
  border-radius: 1.5rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  background-color: #ccc;
}
@media screen and (max-width: 480px) {
  .volume {
    display: none;
  }
}
.volume:hover {
  background-color: #bbb;
}

.volume-bar {
  animation: curtain-up-volume-bar-reverse 0.4s;
  width: 0px;
  margin-right: 10px;
}
.volume-bar--displayed {
  animation: curtain-up-volume-bar 0.4s;
  width: 60px;
}

@keyframes curtain-up-volume-bar {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}
@keyframes curtain-up-volume-bar-reverse {
  from {
    width: 60px;
  }
  to {
    width: 0px;
  }
}
